:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

/* position the navbar at the top of each page */
.Navbar {
  position: absolute;
  top: 0%;
  left: 0%;
}

.NotFound {
  margin: 25% 0;
  display: flex;
  justify-content: center;
}
