

.admin {
    width: 80%;
    min-width: 500px;
    margin: auto;
    border-collapse: collapse;
    margin-top: 8%;
    border: 1px solid black;
}

.admin thead {
    font-size: 1.2rem;
    font-weight: 700;
}

.admin > thead > tr > th {
    padding-top: 1%;
    /* margin: 2%; */
}

.admin > tbody > tr > td {
    padding-top: 2%;
    font-size: .8rem;
}
