.search-container {
    /* border: 2px solid black; */
    display: flex;
    width: 90%;
    min-width: 500px;
    justify-content: center;
    margin: auto;
    margin-top: 8%;
    padding: 10px;
}

/* .search {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 90%;
    padding: 5px;
}

.search > input, button {
    border-radius: 10px;
    padding: 5px;
    
}

.search-btn {
    padding: 0 10px 0 10px;
} */
